import os

from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
import launch.actions
import launch_ros.actions

def generate_launch_description():

    ld.add_action(launch_ros.actions.Node(
        package='wamv_wayfinding', executable='robot_controller'))

    ld.add_action(launch_ros.actions.Node(
        package='wamv_wayfinding', executable='pointcloud_saver'))
        
        

    return ld